@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Jersey 25", sans-serif;
    background-color: #313131;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-body{
    outline: 2px solid #0f0f0f;
    box-shadow: -5px 5px 10px #00000080;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6e6e6e;
    padding: 10px;
}

h1{
    text-transform: uppercase;
    color: #8fc3ff;
    letter-spacing: 4px;
}

label{
    color: #fff;
    letter-spacing: 1px;
}

input{
    padding: 4px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}

button{
    font-family: "Jersey 25", sans-serif;
    font-weight: 50;
    padding: 4px;
    font-size: 1.2rem;
    border: none;
    border-radius: 2px;
}

button:hover{
    cursor: pointer;
    background-color: #2e2e2e;
    border: none;
    outline: 1px solid #fff;
    color: #fff;
}

#resposta{
    font-family: "Funnel Sans", sans-serif;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
}

